<div class="bootstrap-wrapper">
  <div class="container" style="overflow-y: hidden">
    <div class="row mt-3">
      <div class="col-md-6">
        <img src="../../../../../assets/technology.png" alt="" />
      </div>
      <div class="col-md-6 mt-1 mb-2">
        <mat-card>
         
        <h1>Register Here</h1>

        <form (ngSubmit)="submitform()" #registerform="ngForm">
          <!-- username -->
          <mat-form-field appearance="outline" class="widthfull">
            <mat-label>Username</mat-label>
            <input
              matInput
              placeholder="Please enter your username"
              name="username"
              ngModel required
            />
          </mat-form-field>

          <!-- firstname -->
          <mat-form-field appearance="outline" class="widthhalf marginright">
            <mat-label>First name</mat-label>
            <input matInput placeholder="firstname" name="firstname" ngModel required/>
          </mat-form-field>

          <!-- middlename -->
          <mat-form-field appearance="outline" class="widthhalf marginright">
            <mat-label>Middle name (Optional)</mat-label>
            <input
              matInput
              placeholder="middlename"
              name="middlename"
              ngModel
            />
          </mat-form-field>

          <!-- lastname -->
          <mat-form-field appearance="outline" class="widthhalf">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="lastname" name="lastname" ngModel required/>
          </mat-form-field>

          <!-- email -->
          <mat-form-field appearance="outline" class="widthfull">
            <mat-label>Email Id</mat-label>
            <input
              matInput
              placeholder="Please enter your email id"
              name="email"
              ngModel required email
            />
          </mat-form-field>
          <!-- email -->
          <mat-form-field appearance="outline" class="widthfull">
            <mat-label>Phone number</mat-label>
            <input
              matInput
              placeholder="Please enter your phone number"
              name="phone"
              ngModel required type="number"
            />
          </mat-form-field>

          <!-- password -->
          <mat-form-field appearance="outline" class="widthfull">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Please enter your password"
              name="password" required
              ngModel
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              
            </button>
          </mat-form-field>

          <div class="container" class="button-container">
            <button type="button submit" class="btn btn-dark btn-lg" [disabled]="!registerform.valid">
              Register
            </button>
            <button type="button" class="btn btn-primary btn-lg" (click)="clearform()">
              Clear
            </button>
          </div>
        </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
