<div class="bootstrap-wrapper">
    <div class="container" style="overflow-y: hidden">
      <div class="row mt-3">
       
        <div class="col-md-6 offset-3 my-4 text-center">

            <h1>Welcome to Quiz Portal</h1>
            <div class="my-3" style="font-size: large;font-weight: 400;">This is a demo application that is built using angular and spring boot. For database I have used 
                mysql.This application contains some quiz that can be solved and allows one to maintain the answers and 
                also the record of students and questions.
            </div>
            <div class="container" class="button-container">
                <button type="button submit" class="btn btn-dark btn-lg" [routerLink]="['/login']" routerLinkActive="router-link-active" >
                  Login
                </button>
                <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/signup']" routerLinkActive="router-link-active">
                  Register
                </button>
              </div>

        </div>
    </div> 
    </div>
  </div>
  